*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #faebd7;
}

body{
  background-image: url("https://e0.pxfuel.com/wallpapers/691/991/desktop-wallpaper-background-dragon-ball-z-dragon-ball-super-scenery-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
